header {
  background-color: firebrick;
  color: aliceblue;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
a:link {
  color: aliceblue;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: yellow;
  text-decoration: underline;
}
a:active {
  color: black;
}

.butonlar {
  display: inline-flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
